{% extends "base.html" %}
{% block title %}Banking{% endblock %}
{% block content %}

<div class="container">
    <h1>Financial Management</h1>
    
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('state_taxes') }}">Taxes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('banking') }}">Banking</a>
        </li>
    </ul>
</div>



{% endblock %}

{% block extra_scripts %}
{% endblock %}