<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Sales Dashboard{% endblock %}

{% block content %}
<div class="dashboard">
    <h1>Sales Dashboard</h1>
    
    <div class="summary-cards">
        <div class="card">
            <h2>Total Revenue</h2>
            <p class="large-number">${{ "{:,.2f}".format(total_revenue) }}</p>
        </div>
        <div class="card">
            <h2>Total Sales</h2>
            <p class="large-number">{{ total_sales }}</p>
        </div>
        <div class="card">
            <h2>Total Customers</h2>
            <p class="large-number">{{ total_customers }}</p>
        </div>
    </div>
    
    <div class="shipstation-integration">
        <h2>ShipStation</h2>
        <form id="shipstationForm">
            <div class="form-container">
                <div class="form-group">
                    <label for="start_date">Start Date: </label>
                    <input type="date" id="start_date" name="start_date" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="end_date">End Date: </label>
                    <input type="date" id="end_date" name="end_date" class="form-control" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Fetch ShipStation Orders</button>
        </form>
        <div id="shipstationResult" class="mt-3"></div>
    </div>

    <div class="recent-sales">
        <h2>Recent Sales</h2>
        
        <div id="recentSalesGrid" class="ag-theme-alpine" style="width: 100%;"></div>
    
    {% block extra_scripts %}
    
    <script>
    
    document.addEventListener('DOMContentLoaded', function() {
        var gridOptions = {
            domLayout: "autoHeight",
            columnDefs: [
                {
                    headerName: '',
                    field: 'print',
                    cellRenderer: function(params) {
                        return '<i class="fas fa-print text-primary" style="cursor: pointer;"></i>';
                    },
                    onCellClicked: function(params) {
                        window.open("/sales/print/" + params.data.id, '_blank');
                    },
                    maxWidth: 40,
                    sortable: false,
                    filter: false,
                    resizable: false,
                    suppressAutoSize: true,
                    suppressSizeToFit: true
                },
                {
                    headerName: "Date",
                    field: "date",
                    filter: 'agDateColumnFilter',
                    filterParams: {
                        comparator: function(filterLocalDateAtMidnight, cellValue) {
                            var dateParts = cellValue.split('-');
                            var cellDate = new Date(Number(dateParts[2]), Number(dateParts[0]) - 1, Number(dateParts[1]));

                            if (cellDate < filterLocalDateAtMidnight) {
                                return -1;
                            } else if (cellDate > filterLocalDateAtMidnight) {
                                return 1;
                            } else {
                                return 0;
                            }
                        }
                    },
                    valueFormatter: function(params) {
                        var dateParts = params.value.split('-');
                        return `${dateParts[0]}-${dateParts[1]}-${dateParts[2]}`;
                    }
                },
                {
                    headerName: "Ship Date",
                    field: "shipdate",
                    filter: 'agDateColumnFilter',
                    filterParams: {
                        comparator: function(filterLocalDateAtMidnight, cellValue) {
                            var dateParts = cellValue.split('-');
                            var cellDate = new Date(Number(dateParts[2]), Number(dateParts[0]) - 1, Number(dateParts[1]));

                            if (cellDate < filterLocalDateAtMidnight) {
                                return -1;
                            } else if (cellDate > filterLocalDateAtMidnight) {
                                return 1;
                            } else {
                                return 0;
                            }
                        }
                    }
                },
                { headerName: 'Customer', field: 'customer', sortable: true, filter: true, flex: 1 },
                { headerName: 'Total', field: 'total', valueFormatter: p => '$' + p.value.toLocaleString(), sortable: true, filter: true, filter: 'agNumberColumnFilter', comparator: greaterlessComparator, flex: 1 },
            ],
            rowData: [
                {% for sale in recent_sales %}
                {
                    id: {{ sale.id }},
                    date: '{{ sale.date.strftime('%m-%d-%Y') }}',
                    shipdate: '{{ sale.shipdate.strftime('%m-%d-%Y') if sale.shipdate else '' }}',
                    customer: '{{ sale.customer.name|cleaned }}',
                    total: '{{ "%.2f"|format(sale.total) }}'
                },
                {% endfor %}
            ],
            defaultColDef: {
                flex: 1,
                minWidth: 100,
                resizable: true,
                comparator: caseInsensitiveComparator,
                filterParams: {
                    buttons: ["apply", "reset"],
                    closeOnApply: true
                }
            },
            onRowClicked: function(params) {
                if (!params.event.target.classList.contains('fa-edit') && !params.event.target.classList.contains('fa-print')) {
                    window.location.href = "/sales/view/" + params.data.id;
                }
            }
        };
        
        var gridDiv = document.querySelector('#recentSalesGrid');
        if (gridDiv && !gridDiv.gridInitialized) {
            new agGrid.createGrid(gridDiv, gridOptions);
            gridDiv.gridInitialized = true;
        }

    });

    $(document).ready(function() {
        $('#shipstationForm').submit(function(e) {
            e.preventDefault();
            $.ajax({
                url: '/shipstation/fetch_orders',
                method: 'POST',
                data: $(this).serialize(),
                success: function(response) {
                    $('#shipstationResult').html('<div class="alert alert-success">' + response.message + '</div>');
                    // Wait for a few seconds before reloading the page
                    setTimeout(function() {
                        location.reload();
                    }, 1500); // 3000 milliseconds = 3 seconds
                },
                error: function(xhr) {
                    var errorMessage = xhr.responseJSON ? xhr.responseJSON.error : 'An error occurred';
                    $('#shipstationResult').html('<div class="alert alert-danger">' + errorMessage + '</div>');
                }
            });
        });
    });
    </script>
    {% endblock %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get today's date
        const today = new Date();

        // Add one day to today's date
        today.setDate(today.getDate() + 1);
        
        // Format today's date as YYYY-MM-DD
        const todayString = today.toISOString().split('T')[0];
        
        // Get the date 7 days prior
        const priorDate = new Date();
        priorDate.setDate(today.getDate() - 7);
        
        // Format the prior date as YYYY-MM-DD
        const priorDateString = priorDate.toISOString().split('T')[0];
        
        // Set the default values for the input fields
        document.getElementById('start_date').value = priorDateString;
        document.getElementById('end_date').value = todayString;
    });
</script>

{% endblock %}